$color_1: #eceff1;
$color_2: #ffbc0e;
$color_3: #17a398;
$color_4: #e2aedd;
$color_5: black;
$color_6: orange;
$color_7: white;
$font-family_1: 'Young Serif';
$background-color_1: #fff59d;
body {
	background-color: $background-color_1;
}